.img-wraper {
    max-width: 50px;
    max-height: 50px;
    height: 50px;
    width: 50px;
    margin: 1em;
}

.print-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img {
    height: auto;
    width: 100%;
}
