<div class="container">
    <div class="grid">
        <div class="row" style="justify-content: center; margin-bottom: 2em;">
            <div mat-dialog-actions>
                <button mat-button mat-dialog-close printSectionId="print-section" ngxPrint>Print</button>
                <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
            </div>
        </div>

        <!-- <button printSectionId="print-section" ngxPrint>print</button> -->
        <div  id="print-section" class="print-section" >
                <div  *ngFor="let qrcode of qrToPrint" class=" img-wraper" style="display:inline-block;">
                    <img [src]="qr(qrcode)"  style="width: 50px;" >
                </div>
        </div>
    </div>
</div>