<div mat-dialog-content>
    <form [formGroup]="loginForm">
        <mat-form-field>
            <mat-label>Email </mat-label>
            <input matInput formControlName="email">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password </mat-label>
            <input matInput formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>First Name </mat-label>
            <input matInput formControlName="firstName">
        </mat-form-field>
        <mat-form-field>
            <mat-label>LastName </mat-label>
            <input matInput formControlName="lastName">
        </mat-form-field>
    </form>
</div>

<div mat-dialog-actions style="justify-content: center;">
    <button mat-button mat-dialog-close (click)="reg()" [disabled]="loginForm.invalid">Add</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
</div>