<div mat-dialog-content>
    <form [formGroup]="categoryForm">
      <mat-form-field>
        <mat-label>Name </mat-label>
        <input matInput  formControlName="name">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions style="justify-content: center;">
    <button mat-button mat-dialog-close (click)="addCategory()" [disabled]="categoryForm.invalid">Add</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>