<div mat-dialog-content>
    <form [formGroup]="itemForm">
      <!-- <mat-form-field>
        <mat-label>Email </mat-label>
        <input matInput  formControlName="email">
      </mat-form-field> -->
      <mat-form-field>
        <mat-label>First Name </mat-label>
        <input matInput  formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name </mat-label>
        <input matInput  formControlName="lastName">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="changeItem()" [disabled]="itemForm.invalid">Save</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>