.header {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 149.4%;
    color: #71a1f8;
    padding-bottom: 1em;
    @media screen and (min-width: 599px),( max-width: 999px) {
        font-size: 13px;
    }
    @media screen and (min-width: 1000px) {
        font-size:  16px;
    }
        
}

.castom-activated {
    color: #434c5c;
}

.button-href {
    margin: 0 1em 0 1em;
    max-width: min-content;
    outline: none;
    cursor: pointer;
}

.left-panel {
    display: flex;
    margin-left: 2em;
}

.right-panel {
    display: flex;
    .item-panel{
        margin-right: 82px;
    }    
}

.grid {
    display: flex;
    justify-content: space-between;
}

.item {
    cursor: pointer;
}
.item-panel {
    cursor: pointer;
}