<!-- <span class="material-icons" (click)="logut()" *ngIf="getSpinnerState() | async">
    login
</span>
<span class="material-icons" (click)="openDialog()" *ngIf="!(getSpinnerState() | async)">
    account_circle
</span> -->
<!-- <div class="">
    <div class="header">
        <div class="grid">
            <div class="left-panel">
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('home')"
                        [routerLink]="['/', 'home']">
                        Home
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('items')"
                        [routerLink]="['/', 'items']">
                        Items
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('users')"
                        [routerLink]="['/', 'users']">
                        Users
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('rooms')"
                        [routerLink]="['/', 'rooms']">
                        Rooms
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('categories')"
                        [routerLink]="['/', 'categories']">
                        Categories
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('roles')"
                        [routerLink]="['/', 'roles']">
                        Roles
                    </div>
                </div>
                <div class="item" style="margin-right: 80px;">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('about')"
                        [routerLink]="['/', 'about']">
                        About
                    </div>
                </div>
            </div>
            <div class="right-panel">
                <div class="item-panel" [routerLink]="['/', 'personal' , user?.id]" style="outline: none;">
                    {{user?.firstName}} {{user?.lastName}}
                </div>
                <div class="item-panel" (click)="logut()" *ngIf="getSpinnerState() | async">
                    Logout
                </div>
                <div class="item-panel" (click)="openDialog()" *ngIf="!(getSpinnerState() | async)">
                    login
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="header">
    <nav class="navbar navbar-expand-sm navbar-light bg-light">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03"
            aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation" style="color: black;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ng-container *ngIf="isMobile">
            <!-- <div class="item-panel" [routerLink]="['/', 'personal' , user?.id]" style="outline: none;">
                {{user?.firstName}} {{user?.lastName}}
            </div> -->
            <div class="item-panel" (click)="logut()" *ngIf="getSpinnerState() | async">
                Logout
            </div>
            <div class="item-panel" (click)="openDialog()" *ngIf="!(getSpinnerState() | async)">
                login
            </div>
        </ng-container>

        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item active">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('home')"
                        [routerLink]="['/', 'home']">
                        Home
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('items')"
                        [routerLink]="['/', 'items']">
                        Items
                    </div>
                </li>

                <li class="nav-item active">
                    <div class="item">
                        <div class="button-href" [class.castom-activated]="isMenuActivate('users')"
                            [routerLink]="['/', 'users']">
                            Users
                        </div>
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('rooms')"
                        [routerLink]="['/', 'rooms']">
                        Rooms
                    </div>
                </li>
                <li class="nav-item active">
                    <div class="button-href" [class.castom-activated]="isMenuActivate('categories')"
                        [routerLink]="['/', 'categories']">
                        Categories
                    </div>
                </li>
                <li class="nav-item active" *ngIf="IsAdmin()">
                <!-- <li class="nav-item active"> -->
                    <div class="button-href" [class.castom-activated]="isMenuActivate('roles')"
                        [routerLink]="['/', 'roles']">
                        Roles
                    </div>
                </li>
                <li class="nav-item active" *ngIf="isMobile" style="padding: 1em;">
                    <div class="item-panel" (click)="getUserId()" style="outline: none;">
                        <!-- <div class="item-panel" [routerLink]="['/', 'personal' , user?.id]" style="outline: none;"> -->
                        {{getUserName()}}
                    </div>
                </li>
                <li class="nav-item active" *ngIf="IsAdmin()">
                    <!-- <li class="nav-item active"> -->
                    <div class="button-href" [class.castom-activated]="isMenuActivate('logs')"
                        [routerLink]="['/', 'logs']">
                        Logs
                    </div>
                </li>

            </ul>
            <ng-container *ngIf="!isMobile" style="display: row;">
                <!-- <div class="item-panel" (click)="getUserId()" style="outline: none;"> -->
                <div class="item-panel" (click)="getUserId()"
                    style="outline: none; margin-right: 1em;">
                    {{getUserName()}}
                </div>
                <div class="item-panel" (click)="logut()" *ngIf="getSpinnerState() | async">
                    Logout
                </div>
                <div class="item-panel" (click)="openDialog()" *ngIf="!(getSpinnerState() | async)">
                    login
                </div>
            </ng-container>
        </div>
    </nav>
</div>