<div class="container">
    <div class="grid">
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)"> </mat-paginator>
        <div class="item-wrapper" *ngFor="let item of categories; let even = even ; let i = index" [class.even]="even">
            <div class="row" style=" height: 100%;">
                <div class="col item-wrapper-colum" style="margin-left: 1em;">
                    <div class="row item-name">{{item.name}}</div>

                </div>
                <!-- <div class="col item-wrapper-colum" style="align-items: center;">
                    <div class="row item-id">#{{item.id}}</div>
                </div> -->


                <div class="col item-wrapper-colum" style="align-items: flex-end;">
                    <div class="row" style="margin-right: 1em;">
                        <div class="icon-wrapper-table">
                            <span class="material-icons" (click)="openDialog(item)">
                                edit
                            </span>
                            <span class="material-icons" (click)="deleteActive(item , i)">
                                delete
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center; padding-top: 1em;" *ngIf="!isLoading">
            <span class="material-icons" style="cursor: pointer; margin-bottom: 1em;" (click)="openDialogAdd()" >
                add_circle_outline
                </span>
        </div>
    </div>
</div>


<ng-container #loading *ngIf="isLoading">
    <div class="loader-wraper">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>