@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

.container {
    margin-top: 63px;
    @media screen and (max-width: 767px) {
        margin-top: 0;
    }
}

.title {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 149.4%;
    color: #434c5c;
}

.total {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 149.4%;
    color: #434c5c;
}

select {
    background: #e0e9f9;
    border-radius: 4px;
    width: 213.48px;
    margin-right: 17.5px;
}

select:focus {
    background: #e0e9f9;
    border-radius: 4px;
    width: 213.48px;
}

.plaseholder-input {
    font-size: 13px;
    line-height: 149.4%; /* or 19px */
    color: #a0afc9;
    flex: none;
    order: 0;
    align-self: center;
    margin: 23px 0px;
}

.icon-wrapper {
    cursor: pointer;
}

.item-name {
    font-family: Google Sans;
    font-style: Medium;
    font-size: 16px;
    text-align: Left;
    color: #000000;
    margin-left: 0;
}

.item-id {
    font-family: Google Sans;
    font-style: Medium;
    font-size: 16px;
    text-align: Left;
    color: #71a1f8;
    margin-left: 0;
}

.item-user-name {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}

.item-wrapper {
    height: 97px;
    width: 100%;
}
.even {
    background: rgba(224, 233, 249, 0.15);
}
.activate-icon {
    color: #71a1f8;
}

.item-wrapper-colum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.icon-wrapper-table {
    cursor: pointer;
    color: #71a1f8;
    .material-icons {
        margin-right: 1em;
    }
}
.grid-category-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
    opacity: 0.5;
}
.grid-name-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.4%;
    color: #000000;
}
.grid-id-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 149.4%;
    letter-spacing: 0.03em;
    color: #71a1f8;
}
.grid-user-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}
.grid-rooms-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}

.search-button {
    border-radius: 4px;
    font-family: Google Sans;
    background: #e0e9f9;
    border: none;
    width: 230px;
    height: 38px;
    outline: none;
}
