<div mat-dialog-content>
  <div class="container">
    <div class="grid" style="width: 100%;">
      <form [formGroup]="itemForm">
        <div class="row">
          <mat-form-field style="width: 100%;">
            <mat-label>Name </mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </div>

        <div class="row">
          <span class="material-icons delet-button" (click)="userClear()">
            clear
          </span>
          <mat-form-field appearance="fill" class="form-90">
            <mat-label>User</mat-label>
            <select matNativeControl formControlName="accountId">
              <option *ngFor="let item of users" [value]=item.id>{{item.firstName}} {{item.lastName}}</option>
            </select>
          </mat-form-field>
        </div>
        <div class="row">
          <span class="material-icons delet-button" (click)="roomClear()">
            clear
          </span>
          <mat-form-field appearance="fill" class="form-90">
            <mat-label>Room</mat-label>
            <select matNativeControl formControlName="roomId">
              <option *ngFor="let item of rooms" [value]=item.id>{{item.name}}</option>
            </select>
          </mat-form-field>
        </div>
        <div class="row">
          <span class="material-icons delet-button" (click)="categoryClear()">
            clear
          </span>
          <mat-form-field appearance="fill" class="form-90">
            <mat-label>Category</mat-label>
            <select matNativeControl formControlName="categoryId">
              <option *ngFor="let item of categories" [value]=item.id>{{item.name}}</option>
            </select>
          </mat-form-field>
        </div>

      </form>
    </div>
  </div>

</div>
<div class="row" style="justify-content: center;">
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="changeItem()" [disabled]="itemForm.invalid">Save</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>
</div>