@media (min-width: 1200px) {
    .container {
        max-width: 1600px;
    }
}

.container {
    margin-top: 63px;
    @media screen and (max-width: 767px) {
        margin-top: 0;
    }
}

.title {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 149.4%;
    color: #434c5c;

    @media screen and (max-width: 767px) {
        margin-left: 1rem;
    }
}

.total {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 149.4%;
    color: #434c5c;

    @media screen and (max-width: 767px) {
        margin-left: 1rem;
    }
}

select {
    background: #e0e9f9;
    border-radius: 4px;
    width: 213.48px;
    margin-right: 17.5px;
    @media screen and (max-width: 767px) {
        width: 140px;
    }
}

.select-wraper {
    @media screen and (max-width: 767px) {
        justify-content: center;
    }
}
select:focus {
    background: #e0e9f9;
    border-radius: 4px;
    width: 213.48px;
    @media screen and (max-width: 767px) {
        width: 140px;
    }
}

.plaseholder-input {
    font-size: 13px;
    line-height: 149.4%; /* or 19px */
    color: #a0afc9;
    flex: none;
    order: 0;
    align-self: center;
    margin: 23px 0px;
}

.icon-wrapper {
    cursor: pointer;
}

.item-name {
    font-family: Google Sans;
    font-style: Medium;
    font-size: 16px;
    text-align: Left;
    color: #000000;
    margin-left: 0;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}

.item-id {
    font-family: Google Sans;
    font-style: Medium;
    font-size: 16px;
    text-align: Left;
    color: #71a1f8;
    margin-left: 0;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}

.item-user-name {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}

.item-wrapper {
    height: 97px;
    width: 100%;
}
.even {
    background: rgba(224, 233, 249, 0.15);
}
.activate-icon {
    color: #71a1f8;
}

.item-wrapper-colum {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    @media screen and (max-width: 767px) {
        font-size: 10px;
    }
}
.material-icons {
    @media screen and (max-width: 767px) {
        font-size: 14px;
    }
}

.icon-wrapper-table {
    cursor: pointer;
    margin-right: 1em;
    color: #71a1f8;
}
.grid-category-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
    opacity: 0.5;
}
.grid-name-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 149.4%;
    color: #000000;
}
.grid-id-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 149.4%;
    letter-spacing: 0.03em;
    color: #71a1f8;
}
.grid-user-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}
.grid-rooms-text {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.4%;
    color: #434c5c;
}

.search-button {
    border-radius: 4px;
    font-family: Google Sans;
    background: #e0e9f9;
    border: none;
    width: 230px;
    height: 38px;
    outline: none;

    @media screen and (max-width: 767px) {
        width: 162px;
    }
}

.print-button {
    width: 100px;
    height: 30px;
    left: 201px;
    top: 550px;
    background: #71a1f8;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 11px;
    line-height: 149.4%;
    text-align: center;
    color: #ffffff;
    order: 0;
    align-self: center;
}

.mobile-wrap{
    @media screen and (max-width: 700px) {
        flex-direction: column;
        margin-right: 0.5rem;
    }
}
