<div class="container">
    <div class="grid">
        <div class="row">
            <div class="col">
                <div class="row title">
                    Items
                </div>
                <div class="row total">
                    Total items: {{length}}
                </div>
            </div>
            <ng-container *ngIf="!isMobile">
                <div class="col">
                    <div class="row" style="justify-content: flex-end;">
                        <div class="icon-wrapper" [class.activate-icon]="!isGrid" (click)="isGridDeactive()">
                            <svg width="19.5px" height="15.17px" viewBox="0 0 16 16" class="bi bi-list-ul"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm-3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm0 4a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                            </svg>
                        </div>
                        <div class="icon-wrapper" [class.activate-icon]="isGrid" (click)="isGridActive()">
                            <svg width="21.67px" height="15.17px" viewBox="0 0 16 16" class="bi bi-grid-3x2"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v8a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5v-8zM1.5 3a.5.5 0 0 0-.5.5V7h4V3H1.5zM5 8H1v3.5a.5.5 0 0 0 .5.5H5V8zm1 0h4v4H6V8zm4-1H6V3h4v4zm1 1v4h3.5a.5.5 0 0 0 .5-.5V8h-4zm0-1V3h3.5a.5.5 0 0 1 .5.5V7h-4z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
        <form [formGroup]="searchGroup">
            <div class="row select-wraper">
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="itemName" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">Items name</option>
                        <option *ngFor="let item of items">{{item.name}}</option>
                    </select>
                </div>

                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="category" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">Category</option>
                        <option *ngFor="let item of categories" [value]=item.id>{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="user" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">User</option>
                        <option *ngFor="let item of users" [value]=item.id>{{item.firstName || '----'}}
                            {{item.lastName || '----'}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="room" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">Room</option>
                        <option *ngFor="let room of rooms" [value]=room.id>{{room.name}}</option>
                    </select>
                </div>
                <!-- <button class="search-button" (click)="sort()">Sort</button> -->
                <!-- <button class="search-button" (click)="clearSort()" style="margin-left: 1em;">Cancel</button> -->

            </div>
        </form>
        <div class="row" style="justify-content: flex-end;">
            <button class="search-button" (click)="clearSort()">Cancel</button>
        </div>
        <ng-container *ngIf="!isGrid">

            <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)">
            </mat-paginator>
            <div class="row">
                <section class="example-section" style="margin-left: 1em;">
                    <mat-checkbox class="example-margin" color="primary" (change)="IsCheck($event.checked)">
                        On Print {{selectedLength}} items
                    </mat-checkbox>
                </section>
            </div>
            <div class="row">
                <section class="example-section" style="margin-left: 1em;">
                    <mat-checkbox class="example-margin" color="primary" (change)="setAll($event.checked)"
                        *ngIf="isVisCheck">
                        Set All
                    </mat-checkbox>
                </section>
            </div>
            <div class="row">
                <button class="print-button" *ngIf="selectedLength>0" (click)="toPdf()"
                    style="margin-left: 1em;">Print</button>
            </div>
            <!-- <div class="">
                <div class="row" >
                    <div class="col item-wrapper-colum" style="margin-left: 1em; width: min-content; height: min-content;"
                        *ngIf="isVisCheck">

                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        Name
                    </div>
                    <div class="col item-wrapper-colum" style="align-items: center;">
                        Category
                    </div>
                    <div class="col item-user-name item-wrapper-colum" style="align-items: center;">
                        Account
                    </div>
                    <div class="col item-wrapper-colum" style="align-items: center;">
                        Room
                    </div>
                    <div class="col item-wrapper-colum" style="align-items: flex-end;">
                        <div class="row" style="margin-right: 1em;">
                            <div class="icon-wrapper-table">

                            </div>
                            <div class="icon-wrapper-table">
                                
                            </div>
                            <div class="icon-wrapper-table">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="item-wrapper" *ngFor="let item of items; let even = even ; let i = index" [class.even]="even">
                <div class="row" style=" height: 100%;">
                    <div class="col item-wrapper-colum" style="margin-left: 1em; width: min-content;"
                        *ngIf="isVisCheck">
                        <section class="example-section">
                            <mat-checkbox class="example-margin" color="primary" [checked]="item.selected"
                                (change)="addOnPdf($event.checked,item.id)">
                            </mat-checkbox>
                        </section>
                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;" (click)="toItem(item.id)">
                        <div class="row item-name">{{item.name}}</div>
                        <div class="row item-id">#{{item.id}}</div>
                    </div>
                    <div class="col item-wrapper-colum" style="align-items: center;" (click)="toItem(item.id)">
                        {{item.category?.name || '----'}}
                    </div>
                    <div class="col item-user-name item-wrapper-colum" style="align-items: center;"
                        (click)="toItem(item.id)">
                        <div class="row">
                            <!-- <span class="material-icons">
                                account_circle
                            </span>  -->
                            {{item.account?.firstName || '----'}} {{item.account?.lastName || '----'}}
                        </div>

                    </div>
                    <div class="col item-wrapper-colum" style="align-items: center;">
                        {{item.room?.name || '----'}}
                    </div>
                    <div class="col item-wrapper-colum" style="align-items: flex-end;">
                        <div class="row mobile-wrap">
                            <div class="icon-wrapper-table">
                                <span class="material-icons" (click)="openDialogQR(item.id)">
                                    qr_code
                                </span>
                            </div>
                            <div class="icon-wrapper-table">
                                <span class="material-icons" (click)="openDialog(item)">
                                    edit
                                </span>
                            </div>
                            <div class="icon-wrapper-table">
                                <span class="material-icons" (click)="deleteActive(item , i)">
                                    delete
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>

        <ng-container *ngIf="isGrid">
            <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
                [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)">
            </mat-paginator>
            <div class="row">
                <div class="col-3" *ngFor="let item of items ; let i = index" style="margin-top: 1em;">
                    <div class="row grid-category-text" (click)="toItem(item.id)">
                        {{item.categoryId}}
                    </div>
                    <div class="row grid-name-text" (click)="toItem(item.id)">
                        {{item.name}}
                    </div>
                    <div class="row grid-id-text" (click)="toItem(item.id)">
                        #{{item.id}}
                    </div>
                    <div class="row grid-user-text">
                        <!-- <span class="material-icons">
                            account_circle
                        </span>  -->
                        {{item.account?.firstName || '----'}} {{item.account?.lastName || '----'}}
                    </div>
                    <div class="row grid-rooms-text">
                        {{item.room?.name|| '----'}}
                    </div>
                    <div class="row">
                        <div class="icon-wrapper-table">
                            <span class="material-icons">
                                qr_code
                            </span>
                        </div>
                        <div class="icon-wrapper-table">
                            <span class="material-icons" (click)="openDialog(item)">
                                edit
                            </span>
                        </div>
                        <div class="icon-wrapper-table">
                            <span class="material-icons" (click)="deleteActive(item , i)">
                                delete
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="row" style="justify-content: center; padding-top: 1em;" *ngIf="!isLoading">
            <span class="material-icons" style="cursor: pointer; margin-bottom: 1em;" (click)="openDialogAdd()">
                add_circle_outline
            </span>
        </div>
    </div>
</div>

<ng-container #loading *ngIf="isLoading">
    <div class="loader-wraper">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>