<div class="container">
    <div class="grid">
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)">
        </mat-paginator>
        <div class="item-wrapper" *ngFor="let item of users; let even = even ; let i = index" [class.even]="even">
            <div class="row" style=" height: 100%;">

                <div class="col item-wrapper-colum" style="margin-left: 1em;">
                    <div class="row item-name">{{item.firstName || '----'}} {{item.lastName || '----'}}</div>

                </div>
                <div class="col item-wrapper-colum" style="margin-left: 1em;">
                    <div class="row item-name">{{item.email}}</div>

                </div>
                <!-- <div class="col item-wrapper-colum" style="align-items: center;">
                    <div class="row item-id">#{{item.id}}</div>
                </div> -->
                <div class="col item-user-name item-wrapper-colum" style="align-items: center;">
                    <div class="row">
                        <span class="material-icons">
                            account_circle
                        </span>

                        {{statuses[item.roles]}}
                    </div>

                </div>

                <div class="col item-wrapper-colum" style="align-items: flex-end;">
                    <div class="row" style="margin-right: 1em;">
                        <div class="icon-wrapper-table">
                            <span class="material-icons" (click)="openDialog(item)">
                                edit
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-container #loading *ngIf="isLoading">
    <div class="loader-wraper">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>