<div class="container">


    <ng-container *ngIf="step">
        <div class="fadeIn first">
            <span class="material-icons">
                account_circle
            </span>
            Log In
        </div>
        <form [formGroup]="loginForm">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="email">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
            <div class="row" style="justify-content: space-around;">
                <div class="">
                    <button mat-button class="fadeIn fourth" mat-dialog-close (click)="login()" [disabled]="loginForm.invalid">Log In</button>
                </div>
                <div class="">
                    <button mat-button class="fadeIn fourth"  (click)="changeWrapper()">Sign up</button>
                </div>
            </div>
        </form>
    </ng-container>
    <ng-container *ngIf="!step">
        <div class="fadeIn first">
            <span class="material-icons">
                account_circle
            </span>
            Sign up
        </div>
        <form [formGroup]="loginForm">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login" formControlName="email">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="First Name" formControlName="firstName">
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="Last Name" formControlName="lastName">
            <input type="password" id="password" class="fadeIn third" name="login" placeholder="password" formControlName="password">
            <div class="row" style="justify-content: space-around;">
                <div class="">
                    <button mat-button class="fadeIn fourth" mat-dialog-close (click)="reg()" [disabled]="loginForm.invalid">Sign up</button>
                </div>
                <div class="">
                    <button mat-button class="fadeIn fourth"  (click)="changeWrapper()">Log In</button>
                </div>
            </div>
        </form>
    </ng-container>
</div>