<div class="container" *ngIf="!isLoading">
    <div class="grid">

        <form [formGroup]="searchGroup">
            <div class="row select-wraper">
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="items" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">Items</option>
                        <option *ngFor="let item of items" [value]=item.id>{{item.name}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="user" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">User</option>
                        <option *ngFor="let item of users" [value]=item.id>{{item.firstName || '----'}}
                            {{item.lastName || '----'}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <!-- <label for="exampleFormControlSelect1">Items name</label> -->
                    <select class="form-control" id="exampleFormControlSelect1" formControlName="status" (change)="sort()">
                        <option value="" selected disabled class="plaseholder-input">Status</option>
                        <option *ngFor="let item of status" [value]=item.value>{{item.view}}</option>
                    </select>
                </div>
                
            </div>
        </form>
        <div class="row" style="justify-content: flex-end;">
            <button class="search-button" (click)="clearSort()" >Cancel</button>
        </div>
        <mat-paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize"
            [pageSizeOptions]="[5, 10, 25, 100]" (page)="getServerData($event)"> </mat-paginator>
        <div class="row" style=" height: 100%;">
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">Data</div>
            </div>
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">Item</div>
            </div>
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">recipient</div>
            </div>
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">room</div>
            </div>
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">category</div>
            </div>
            <!-- <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">Admin</div>
            </div> -->
            <div class="col item-wrapper-colum" style="margin-left: 1em;">
                <div class="row item-name">Status</div>
            </div>
            <!-- <div class="col item-wrapper-colum" style="align-items: center;">
                        <div class="row item-id">#{{item.id}}</div>
                    </div> -->


            <div class="item-wrapper" *ngFor="let item of logs; let even = even ; let i = index" [class.even]="even">
                <div class="row" style=" height: 100%;">
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.date | date:'medium'}}</div>

                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.item.name   || '----' }}</div>
                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.recipient?.firstName  || '----'}} {{item.recipient?.lastName  || '----'}}</div>
                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.item?.room?.name  || '----'}}</div>
                    </div>
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.item?.category?.name  || '----'}}</div>
                    </div>
                    <!-- <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{item.account?.firstName  || '----'}} {{item.account?.lastName  || '----'}}</div>
                    </div> -->
                    <div class="col item-wrapper-colum" style="margin-left: 1em;">
                        <div class="row item-name">{{statuses[item.status]}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <ng-container #loading *ngIf="isLoading">
        <div class="loader-wraper">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>