<!-- <div class="container">
    <div class="grid">
        <div class="row">
            <div class="col">
                <div class="row">

                    # {{item.id}}
                </div>
                <div class="row">
                    Name {{item.name}}
                </div>
                <div class="row">
                    User {{item.account.firstName}} {{item.account.lastName}}
                </div>
                <div class="row">
                    Category {{item.category.name}}
                </div>
                <div class="row">
                    Room {{item.room.name}}
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container">
    <div class="grid" style="width: 100%;" *ngIf="!isLoading">
        <div class="row item-wraper">
            <!-- <div class="col-6 text-wraper" >
                <form [formGroup]="itemForm">
                    <div class="row">
                        <mat-form-field style="width: 100%;">
                            <mat-label>id </mat-label>
                            <input matInput disabled formControlName="id">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field style="width: 100%;">
                            <mat-label>Name </mat-label>
                            <input matInput formControlName="name">
                        </mat-form-field>
                    </div>

                    <div class="row">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>User</mat-label>
                            <select matNativeControl formControlName="accountId">
                                <option *ngFor="let item of users" [value]=item.id>{{item.firstName}} {{item.lastName}}
                                </option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Room</mat-label>
                            <select matNativeControl formControlName="roomId">
                                <option *ngFor="let item of rooms" [value]=item.id>{{item.name}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field appearance="fill" style="width: 100%;">
                            <mat-label>Category</mat-label>
                            <select matNativeControl formControlName="categoryId">
                                <option *ngFor="let item of categories" [value]=item.id>{{item.name}}</option>
                            </select>
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button (click)="changeItem()">Save</button>
                    </div>
                </form>
            </div> -->
            <div class="col-6 text-wraper" >
                <div class="row">
                 id:   {{item.id}}
                </div>
                <div class="row">
                 name:   {{item.name}}
                </div>
                <div class="row">
                 User:   {{item.account?.firstName}} {{item.account?.lastName}}
                </div>
                <div class="row">
                 Room:   {{item.room?.name}}
                </div>
                <div class="row">
                 Category:   {{item.category?.name}}
                </div>
            </div>

            <div class="col-6 img-wraper">.
                <img [src]="this.imgB64" (click)="fileInput.click()" *ngIf="imgB64">
                <img [src]="this.emptyImgSrc" (click)="fileInput.click()" *ngIf="!imgB64">
                <input name="file" #fileInput type="file" style="display: none;" (change)="uploadFile(fileInput.files)">
            </div>
        </div>
    </div>

    <ng-container #loading *ngIf="isLoading">
        <div class="loader-wraper">
            <mat-spinner></mat-spinner>
        </div>
    </ng-container>