button {
    width: 100%;
    height: 64px;
    left: 201px;
    top: 550px;
    background: #71a1f8;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 149.4%;
    text-align: center;
    color: #ffffff;
    order: 0;
    align-self: center;
}
.img-wraper {
    place-self: center;
    text-align: center;
    img {
        max-width: 400px;
        max-height: 400px;
        cursor: pointer;
        @media screen and (max-width: 767px) {
            max-width: 200px;
            max-height: 200px;
        }
    }
}

.item-wraper {
    @media screen and (max-width: 767px) {
        flex-direction: column-reverse;
        margin: 1em;
        align-content: center;
        .img-wraper {
            max-width: 100%;
        }
        .text-wraper {
            max-width: 100%;
        }
    }
}

.text-wraper{
  font-size: 16px;   
  font-family: Google Sans;
  font-style: normal;
  font-weight: normal;
  line-height: 149.4%;
  .row{
    border: solid 1px #71a1f8;
    padding: 1em;
  }
}