button {
    width: 100px;
    height: 50px;
    left: 201px;
    top: 550px;
    background: #71a1f8;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 149.4%;
    text-align: center;
    color: #ffffff;
    order: 0;
    align-self: center;
    margin-left: 1em;
}