<h4>Chose role</h4>
<div class="row">
    <div class="col">
        <mat-form-field appearance="fill">
            <mat-select [formControl]="roleUser">
                <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role?.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="col">

        <button (click)="roleChange()" mat-dialog-close>Save</button>
        <button mat-dialog-close cdkFocusInitial style="margin-top: 1em;">Cancel</button>
    </div>
</div>