<div class="home">
    <div class="container">
        <div class="grid">
            <div class="row">
                <div class="title">
                    Inventory App
                </div>
            </div>
            <div class="row title-descriprtion">
                <div class="col-6" *ngIf="!isMobile">
                    Is a system designed for Anthill Company to help managing every day processes
                </div>
                <div class="" style="text-align: center;" *ngIf="isMobile">
                    Is a system designed for Anthill Company to help managing every day processes
                </div>
            </div>
            <div class="row">
                <button (click)="openDialogAddUser()">Add User</button>
                <button (click)="openDialogAdd()">Add Item</button>
            </div>
            <div class="row footer">
                © IT Premium 2020
            </div>
        </div>
    </div>
</div>