.home {
    height: calc(100% - 55px);
    background-image: url(../../../assets/img/home/image.svg);
    background-size: 27%;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    @media screen and (max-width: 767px) {
        height: calc(100% - 85px);
    }
}
.title {
    font-family: Google Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 132px;
    line-height: 168px;
    color: #434c5c;
    @media screen and (min-width: 768px), (max-width: 999px) {
        margin-top: 56px;
    }
    @media screen and (max-width: 767px) {
        font-size: 57px;
        line-height: 72px;
        padding-left: 1rem;
    }
    @media screen and (min-width: 1000px) {
        margin-top: 141px;
    }
    @media screen and (max-width: 766px) {
        margin-top: 0;
    }
}
.title-descriprtion {
    font-family: Google Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 149.4%;
    color: #434c5c;
    margin-bottom: 52px;
    @media screen and (max-width: 767px) {
        font-size: 20px;
    }
}
button {
    width: 172px;
    height: 64px;
    left: 201px;
    top: 550px;
    background: #71a1f8;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 24px;
    line-height: 149.4%;
    text-align: center;
    color: #ffffff;
    order: 0;
    align-self: center;
    margin-left: 1em;
    @media screen and (max-width: 767px) {
        width: 140px;
    }
}
.footer {
    position: absolute;
    bottom: 2%;
}
