button {
    width: 80px;
    height: 30px;
    left: 201px;
    top: 550px;
    background: #71a1f8;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 149.4%;
    text-align: center;
    color: #ffffff;
    order: 0;
    align-self: center;
}

.all-wraper{
    @media screen and (max-width: 767px) {
        margin: 1em;
        flex-direction: column;
    }
}