<div class="container">
    <div class="grid">
        <div class="row all-wraper">
            <div class="col">
                <form [formGroup]="userForm">
                    <div class="row">
                        <mat-form-field>
                            <mat-label>First Name </mat-label>
                            <input matInput formControlName="firstName">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <mat-form-field>
                            <mat-label>Last Name</mat-label>
                            <input matInput formControlName="lastName">
                        </mat-form-field>
                    </div>
                    <div class="row">
                        <button (click)="saveName()">save</button>
                    </div>
                </form>
            </div>
            <div class="col">
                <form [formGroup]="passwordForm">
                    <div class="row" style="justify-content: flex-end">
                        <mat-form-field>
                            <mat-label>Old password </mat-label>
                            <input matInput formControlName="password">
                        </mat-form-field>
                    </div>
                    <div class="row" style="justify-content: flex-end">
                        <mat-form-field>
                            <mat-label>New password</mat-label>
                            <input matInput formControlName="newPassword">
                        </mat-form-field>
                    </div>
                    <div class="row" style="justify-content: flex-end">
                        <button (click)="savePassword()" [disabled]="passwordForm.invalid">save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<ng-container #loading *ngIf="isLoading">
    <div class="loader-wraper">
        <mat-spinner></mat-spinner>
    </div>
</ng-container>