/* You can add global styles to this file, and also import other style files */
// @import "~ngx-toastr/toastr";

// @import "~ngx-toastr/toastr-bs4-alert";

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~ngx-toastr/toastr-bs4-alert";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-light {
    background-color: white !important;
}
.loader-wraper {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
}
