<div mat-dialog-content>
    <form [formGroup]="roomForm">
      <mat-form-field>
        <mat-label>Name </mat-label>
        <input matInput  formControlName="name">
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close (click)="changeItem()" [disabled]="roomForm.invalid">Save</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancel</button>
  </div>