<p>Do you confirm the deletion of this data?</p>
<div class="row" style="justify-content: center;">
    <div mat-dialog-actions>
        <button mat-button mat-dialog-close [mat-dialog-close]="true" cdkFocusInitial>Delet</button>
        <button mat-button mat-dialog-close>Cancel</button>
    </div>
</div>